<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    columns="max"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutResourceUsageDuringSmallTests="true"
    beStrictAboutChangesToGlobalState="true"
>
    <coverage>
        <include>
            <directory>./src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Swagger Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
